* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    /* I will download this font from google font cool */
    background: var(--Black, #363636);
    height: 100%;
    width: 100%;
}

/* Home Screen */
/* 1. Navigation bar Completed */

.navBar {
    display: flex;
    padding: 1.875rem 3.125rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navName {
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.navMenu a {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* HomeContainer */

/* introduction */

.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.introduction,
.imageContainer {
    display: flex;
}

.introduction {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imageContainer {
    width: auto;
    height: auto;
}

.imageContainer img {
    display: fixed;
    height: 90%;
    object-fit: scale-down;
}

.introName {
    color: #FFF;
    font-family: Poppins;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introAboutMe {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}