body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: var(--Black, #363636);
}

/* Navigation bar Completed */

.navBar {
    display: flex;
    padding: 1.875rem 3.125rem;
    justify-content: space-between;
    align-items: center;
}

.navName {
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.navMenu a {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* Now Body Part I will start */

/* introduction */

.introduction {
    display: inline-flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
}

.introName {
    color: #FFF;
    font-family: Poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introAboutMe {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.imageContainer {
    width: 120.5rem;
    height: 120.5rem;
    flex-shrink: 0;
}