* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: var(--Black, #363636);
    height: 100%;
    width: 100%;
}

.navBar {
    display: flex;
    position: relative;
    padding: 1.875rem 3.125rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navName {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

}

.navName a {
    color: #FFF;
    text-decoration: none;
}

.navName a:hover {
    color: bisque;
    text-decoration: none;
}


.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.navMenu a {
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.navMenu a:hover {
    color: bisque;
    text-decoration: none;
}


/* First Screen Home Screen */

.homeScreen {
    display: flex;
    width: 100%;
    height: 85vh;
}


.introduction {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    top: 240px;
    left: 34px
}

.imageContainer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.imageContainer img {
    height: 100vh;
    object-fit: cover;
}

.introName {
    color: #FFF;
    font-family: Poppins;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introAboutMe {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Portfolio  Work*/

.portfolio {
    background-color: #CCFF66;
}

.mainView {
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
    font-family: Poppins;
    text-align: center;

}

.portfolioCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project p {
    font-size: 2rem;
    font-weight: bold;
    font-family: Poppins;
    text-align: center;
    color: #000000;

}


/* About the Contact information */


.contactScreen {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #FA9500;

}



.contactHeader {
    color: #FFF;
    font-family: Poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
}

.contactActions {
    display: block;
    margin: 34px;

}

.contactInfo {
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.contactActionInfo {
    display: block;
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 60%;

}

.contactActions a {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.contactActions a:hover {
    color: bisque;
    text-decoration: underline;
}

.socialMediaLinks {
    margin-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.socialMediaLinks img:hover {
    cursor: pointer;
    scale: 1.2;
}