* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: var(--Black, #363636);
    height: 100%;
    width: 100%;
}

.navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 20px;
    padding-top: 5px;
    box-shadow: rgba(28, 28, 28, 0.388) 0px 5px 10px;
    width: 99vw;
}


.navName {
    display: inline;
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

}

.navName a {
    color: #FFF;
    text-decoration: none;
}

.navName a:hover {
    color: bisque;
    text-decoration: none;
}


.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.navMenu a {
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.navMenu a:hover {
    color: bisque;
    text-decoration: none;
}


/* First Screen Home Screen */

.homeScreen {
    display: flex;
    width: 100%;
    height: 87vh;
}


.introduction {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    top: 240px;
    left: 34px;
    /* padding-left: 10rem; */


}

.download-button {
    margin-top: 2rem;
    display: inline-block;
    background-color: #DC0073;
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in;
    text-decoration: none;
}

.download-button a {
    color: #FFF;
    text-decoration: none;
}

.download-button:hover {
    background-color: #FFA500;
    text-decoration: none;
}


.socialMediaLinks {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.socialMediaLinks img:hover {
    cursor: pointer;
    scale: 1.2;
}

.imageContainer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.imageContainer img {
    height: 100vh;
    object-fit: cover;
}

.introName {
    color: #FFF;
    font-family: Poppins;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.introAboutMe {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40%;
}

.greatingHeader {
    font-size: 2rem;
    font-weight: 200;
    color: #FFF;
    line-height: 30%;
}



/* Portfolio  Work*/

.portfolio {
    background-color: #424B54;
    padding-left: 1rem;
    /* padding-right: 7rem; */

    h1 {
        color: #F7F5FB;
        font-family: Poppins;
        font-size: 4rem;
        font-style: normal;
        font-weight: bolder;
        line-height: normal;
        text-align: center;
        padding: 20px;
    }

    h2 {
        color: #363636;
        font-family: Poppins;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding-top: 20px;
        padding-right: 60px;
    }

}


.portfolioCard {
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
}

.marginBottom {
    padding: 2.5rem;

}

.portfolioCardInfo {
    height: 60vh;
    padding: 50px;
    background-color: #E0E0E2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
    min-height: 350px;
    grid-area: 1 / 1 / auto / 3;

    p {
        display: block;
        margin-right: 7rem;
    }
}

.threeButtons {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 20px 0px 0px;
}

.narrowButton {
    background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
    color: rgb(248, 248, 248);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    width: auto;
    height: auto;
    font-size: 12px;
    margin-right: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
}

.circleButton {
    background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
    color: rgb(248, 248, 248);
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 0;
    padding: 10px;
    margin: 0px;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

.circleButton:hover {
    background: linear-gradient(134deg, rgb(73, 97, 220) 0%, rgb(106, 152, 240) 99%);
    color: rgb(248, 248, 248);
    scale: 1.2;
}

.videoCard {
    grid-area: 1 / 2 / auto / 4;
    position: relative;
    right: -20px;
}

.youtubeVideo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 5%;

    iframe {
        width: 722px;
        height: 420px;
        padding-top: 10px;
    }
}


.tagCards {
    margin: 10px;
    color: rgb(109, 131, 242);
    display: flex;
    font-size: 24px;

    img {
        width: 20px;
    }
}

.svgInline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}



/* About Me */

.aboutMe {
    background-color: #363636;
    height: auto;
}

.aboutMeHeader {
    color: #FFF;
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 20px;

}

.aboutMeContent {
    background-color: #DC0073;
    /* transform: rotate(1deg); */
}

.aboutMeText {
    color: #FFF;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 45vh;
}

.aboutMeMargin {
    padding: 1rem;
}

.aboutMeText img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 20px;
}

.aboutMeText p {
    margin-left: 30px;
}

.quoteBlock {
    display: flex;
    bottom: 90px;
    padding: 20px;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    /* transform: rotate(1deg); */

}

.quoteCard {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 20px 30px;
    width: 23%;
    margin: 20px 10px;
    text-align: right;

    p {
        font-size: 16px;
        margin: 0px;
        line-height: 150%;
        color: rgb(56, 56, 56);
    }


}

.aboutMeFooter {
    width: max-content;
    z-index: 0;

    p {
        background-color: aqua;
        height: 90%;

    }
}



/*  Contact information */


.contactScreen {
    background-color: #502419;

}



.contactHeader {
    color: #FFF;
    font-family: Poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
}

.contactActions {
    display: block;
    margin: 34px;

}

.contactInfo {
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.contactActionInfo {
    display: block;
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 60%;

}

.contactActions a {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.contactActions a:hover {
    color: bisque;
    text-decoration: underline;
}