* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: var(--Black, #363636);
    height: 100%;
    width: 100%;
}

.navBar {
    display: flex;
    position: relative;
    padding: 1.875rem 3.125rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navName {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

}

.navName a {
    color: #FFF;
    text-decoration: none;
}

.navName a:hover {
    color: bisque;
    text-decoration: none;
}


.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.navMenu a {
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.navMenu a:hover {
    color: bisque;
    text-decoration: none;
}


/* First Screen Home Screen */

.homeScreen {
    display: flex;
    width: 100%;
    height: 85vh;
}


.introduction {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    top: 240px;
    left: 34px
}

.imageContainer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.imageContainer img {
    height: 100vh;
    object-fit: cover;
}

.introName {
    color: #FFF;
    font-family: Poppins;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introAboutMe {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Portfolio  Work*/

.portfolio {
    background-color: #FFEEDB;
    padding: 20px;
}

.mainView {
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
    font-family: Poppins;
    text-align: center;

}

.portfolioCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin-left: 34px;
    margin-right: 34px;
    gap: 20px;
}

.project {
    width: 34rem;
    height: 34rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-weight: normal;
        text-transform: uppercase;
    }

    p,
    a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }

    p {
        inset: auto auto 80px 30px;
    }

    a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
    }

    &:hover h2 {
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
    }

    &:hover p,
    &:hover a {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }

}



/* About Me */

.aboutMe {
    background-color: #363636;
}

.aboutMeHeader {
    color: #FFF;
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 20px;

}

.aboutMeTextContent {
    color: #FFF;
}


/*  Contact information */


.contactScreen {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #DC0073;

}



.contactHeader {
    color: #FFF;
    font-family: Poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
}

.contactActions {
    display: block;
    margin: 34px;

}

.contactInfo {
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.contactActionInfo {
    display: block;
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 60%;

}

.contactActions a {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.contactActions a:hover {
    color: bisque;
    text-decoration: underline;
}

.socialMediaLinks {
    margin-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.3rem;
}

.socialMediaLinks img:hover {
    cursor: pointer;
    scale: 1.2;
}