.buttonLearn {
    background-color: goldenrod;
    color: #ddd8d8;
    border: gold;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin: 150px;
    padding: auto;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.5s;
}

.buttonLearn:hover {
    background-color: yellowgreen;
}

.buttonLearn:active {
    background-color: yellow;
    opacity: 0.2;
}